{% set p = bib2doc.fix_html_ampersand(p) %}
<div class="w3-card">
<div class="col-xs-1 vcenter paper_leftcol"> 
    <a href="{{ bib2doc.get_pdf_href(p) }}" target="blank_"><img class="media-object" src="teaser_images/{{ p.img or "empty.jpg" }}" alt="Image"></a>
</div><div class="col-xs-11 vcenter paper_rightcol">
    <div>
    <span style="font-size: 100%;font-weight: bold;">  
        {% if p.pdf %}
            <a href="{{ bib2doc.get_pdf_href(p) }}" target="blank_">{{ p.title }}</a>
        {% else %}
            {{ p.title }}
        {% endif %}
    </span>  
    </div> 
    <div style="font-size: 90%;">  
    <span> {{ p.author }} </span>  
    </div> <div style="font-size: 90%;">  
    <span> 
        <span style="font-style: italic;">{{ bib2doc.get_venue(p) }}</span>,
        {{ bib2doc.get_vol_num_pp_loc_mon_year(p) }} 
    </span>
    </div>
    <div> 
        {{ bib2doc.field2htmllink(p,'code') }}
        {{ bib2doc.field2htmllink(p,'slides') }}
        {{ bib2doc.field2htmllink(p,'data') }}
    </div>
    {% if p.award %}
    <div> <span style="font-weight: bold;">Award:</span> {{ p.award }} </div>
    {% endif %}

</div>
</div>


<div class="w3-container">
    &nbsp;
</div>

